RestFulWebService/src/main/resources/wsdl/EmployeeService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="EmployeeService"
	targetNamespace="http://service.test.com/" xmlns:ns1="http://cxf.apache.org/bindings/xformat"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.test.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified" targetNamespace="http://service.test.com/"
			version="1.0" xmlns:tns="http://service.test.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			
			<xs:element name="getEmployeeRequest" type="tns:GetEmployeeRequest" />
				
			<xs:complexType name="GetEmployeeRequest">
					<xs:sequence>
						<xs:element minOccurs="0" name="eno" type="xs:int" />
						<xs:element minOccurs="0" name="ename" type="xs:string" />
					</xs:sequence>
			</xs:complexType>
			
			<xs:element name="getEmployeeResponse" type="tns:GetEmployeeResponse" />
				
			<xs:complexType name="GetEmployeeResponse">
					<xs:sequence>
						<xs:element minOccurs="0" name="employee" type="tns:Employee" />
					</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Employee">
					<xs:sequence>
						<xs:element minOccurs="0" name="eno" type="xs:int" />
						<xs:element minOccurs="0" name="ename" type="xs:string" />
						<xs:element minOccurs="0" name="salary" type="xs:string" />
						<xs:element minOccurs="0" name="Address" type="tns:Address" />
					</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="Address">
					<xs:sequence>
						<xs:element minOccurs="0" name="city" type="xs:string" />
						<xs:element minOccurs="0" name="state" type="xs:string" />
						<xs:element minOccurs="0" name="zipcode" type="xs:string" />
					</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="getEmployeeRequest">
		<wsdl:part element="tns:getEmployeeRequest" name="parameters"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="getEmployeeResponse">
		<wsdl:part element="tns:getEmployeeResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	
	
	<wsdl:portType name="EmployeeService">
		<wsdl:operation name="getEmployee">
			<wsdl:input message="tns:getEmployeeRequest" name="getEmployeeRequest"></wsdl:input>
			<wsdl:output message="tns:getEmployeeResponse" name="getEmployeeResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="EmployeeServiceSoapBinding" type="tns:EmployeeService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getEmployee">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getEmployeeRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getEmployeeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="EmployeeService">
		<wsdl:port binding="tns:EmployeeServiceSoapBinding" name="EmployeeService">
			<soap:address location="http://localhost:8080/cxfservices/api/soap/empService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>